h6 {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.portfolio-container {
    opacity: 0;
    animation: fadeInPortfolio 2s ease forwards 1.5s;
}

@keyframes fadeInPortfolio {
    to {
        opacity: 1;
    }
}