h6 {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.portfolio-container {
    opacity: 0;
    animation: fadeInPortfolio 2s ease forwards 1.5s;
}

@keyframes fadeInPortfolio {
    to {
        opacity: 1;
    }
}

.floating-trophy {
    position: fixed;
    bottom: 25px;
    right: 25px;
    font-size: 1.4rem;
    color: #ffffff;
    cursor: pointer;
    z-index: 9999;
    transition: transform 0.2s ease, color 0.3s ease, filter 0.3s;
    filter: drop-shadow(0 0 6px rgba(255, 215, 0, 0.4));
}

.floating-trophy:hover {
    transform: scale(1.2) rotate(5deg);
    color: #fff;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
}

.floating-treasure {
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 50px;
    color: white;
    cursor: pointer;
    animation: popShake 2s ease-in-out infinite;
    transform-origin: center;
    transition: transform 0.3s ease;
}

@keyframes popShake {

    0%,
    100% {
        transform: scale(1) rotate(0deg);
    }

    10% {
        transform: scale(1.25) rotate(-10deg);
    }

    20% {
        transform: scale(1.2) rotate(10deg);
    }

    30% {
        transform: scale(1.15) rotate(-6deg);
    }

    40% {
        transform: scale(1.1) rotate(6deg);
    }

    50% {
        transform: scale(1.3) rotate(-4deg);
    }

    60% {
        transform: scale(1.2) rotate(4deg);
    }

    80% {
        transform: scale(1.05) rotate(2deg);
    }
}

.floating-treasure:hover {
    color: #c6c6c6;
    animation-play-state: paused;
    transform: scale(1.1);
}